/* A style sheet file for #main-contect only */
/* #main-contect的专用css文件 */

/* contect-cover */
#contect-cover {
	width: 1000px;
	height: 175px;
	float: left;
}
#contect-cover img {
	width: 1000px;
	height: 175px;
}

/* contect-avatar */
#contect-avatar {
	width: 300px;
	margin-top: 50px;
	float: left;
}
#contect-avatar-avatar {
	width: 300px;
	height: 300px;
	margin-top: 50px;
	border-radius: 150px;
}
#contect-avatar-tsumiki-1 {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	margin-left: 5px;
}
#contect-avatar-tsumiki-2 {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	margin-left: 40px;
}
#contect-avatar-minecraft {
	width: 300px;
	height: 400px;
}

/* contect-list */
#contect-list {
	width: 650px;
	margin-left: 50px;
	margin-top: 50px;
	float: left;
}
#contect-list-1 {
	color: #ffffff;
	height: 75px;
	line-height: 75px;
	font-size: 50px;
}
#contect-list-1-en {
	color: #ffffff;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
}
.contect-list-title {
	color: #ffffff;
	height: 40px;
	line-height: 30px;
	margin-top: 10px;
	font-size: 25px;
}
.contect-list-title-en {
	color: #ffffff;
	height: 40px;
	line-height: 20px;
	font-size: 15px;
	margin-top: 10px;
	margin-left: 20px;
}
#contect-list a:link, #contect-list a:visited {
	color: #00aaff;
	text-decoration: none;
}
#contect-list a:hover {
	text-decoration: #00aaff 3px underline;
}
.contect-list {
	color: #ffffff;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	margin-left: 5px;
	list-style-type: disc;
}
.contect-mc-list {
	color: #ffffff;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	margin-left: 5px;
	list-style-type: circle;
}
.contect-development-list {
	color: #ffffff;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	margin-left: 5px;
	list-style-type: square;
}
.contect-others-list {
	color: #ffffff;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	margin-left: 5px;
	list-style-type: circle;
}