:root {
	--body-background-color: #a2c4f1;

	--dark-font-color: #2b2b3b;
	--white-font-color: #eeeeee;
	--lightBlue-font-color: #00aaff;
	--blue-font-color: #0066ff;
	--superWhite-font-color: #ffffff;

	--navbar-shadow-color: #2b2b3b40;
	--navbar-hover-background-color: #ffffffb0;
}

body {
	background-color: var(--body-background-color);
}