/* A style sheet file for #main-src only */
/* #main-src的专用css文件 */

/* src-cover */
#src-cover {
	width: 1000px;
	height: 175px;
	float: left;
}
#src-cover img {
	width: 1000px;
	height: 175px;
}

/* src-title */
.src-title {
	height: 50px;
	color: #ffffff;
	text-align: left;
	line-height: 50px;
	font-size: 40px;
	margin-top: 25px;
	float: left;
	list-style-type: circle;
}
.src-title-en {
	height: 50px;
	color: #ffffff;
	text-align: left;
	line-height: 75px;
	font-size: 20px;
	margin-left: 50px;
	margin-top: 25px;
	float: left;
	list-style-type: none;
}
.src-title-hr {
	width: 1000px;
	float: left;
}

/* scr-kit-hr */
.src-kit-hr {
	width: 940px;
	margin-left: 30px;
	float: left;
}

/* src-kit-left */
.src-kit-left {
	width: 1000px;
	height: 200px;
	float: left;
}
.src-kit-left:hover {
	background-color: #ffffff10;
	border-radius: 30px;
}
.src-kit-left-img {
	width: 150px;
	height: 150px;
	margin-left: 25px;
	margin-top: 25px;
	float: left;
}
.src-kit-left a:link, .src-kit-left a:visited {
	width: 800px;
	height: 50px;
	margin-left: 25px;
	margin-top: 25px;
	color: #00aaff;
	text-align: left;
	line-height: 50px;
	text-decoration: none;
	font-size: 50px;
	float: left;
}
.src-kit-left a:hover {
	text-decoration: #00aaff 3px underline;
}
.src-kit-left p {
	width: 800px;
	margin-left: 25px;
	color: #ffffff;
	text-align: left;
	line-height: 25px;
	font-size: 20px;
	float: left;
}
.src-kit-left ul {
	margin-left: -40px;
	margin-top: -10px;
	text-align: left;
	float: left;
}
.src-kit-left li {
	height: 25px;
	margin-left: 50px;
	text-align: left;
	line-height:25px;
	font-size: 25px;
	color: #ffffff;
	float: left;
}

/* src-kit-right */
.src-kit-right {
	width: 1000px;
	height: 200px;
	float: left;
}
.src-kit-right:hover {
	background-color: #ffffff10;
	border-radius: 30px;
}
.src-kit-right-img {
	width: 150px;
	height: 150px;
	margin-right: 25px;
	margin-top: 25px;
	float: right;
}
.src-kit-right a:link, .src-kit-right a:visited {
	width: 800px;
	height: 50px;
	margin-left: 25px;
	margin-top: 25px;
	color: #00aaff;
	text-align: left;
	line-height: 50px;
	text-decoration: none;
	font-size: 50px;
	float: right;
}
.src-kit-right a:hover {
	text-decoration: #00aaff 3px underline;
}
.src-kit-right p {
	width: 800px;
	margin-left: 25px;
	color: #ffffff;
	text-align: left;
	line-height: 25px;
	font-size: 20px;
	float: left;
}
.src-kit-right ul {
	margin-left: -40px;
	margin-top: -10px;
	text-align: left;
	float: left;
}
.src-kit-right li {
	height: 25px;
	margin-left: 50px;
	text-align: right;
	line-height:25px;
	font-size: 25px;
	color: #ffffff;
	float: left;
}

/* src-credit */
#src-credit {
	width: 1000px;
	float: left;
}
#src-credit a:link, #src-credit a:visited {
	color: #00aaff;
	text-decoration: none;
}
#src-credit a:hover {
	text-decoration: #00aaff 3px underline;
}
.src-credit {
	width: 1000px;
	height: 40px;
	color: #ffffff;
	list-style-type: square;
	text-align: left;
	line-height: 40px;
	font-size: 25px;
}
.src-credit-en {
	width: 1000px;
	height: 30px;
	color: #ffffff;
	list-style-type: circle;
	text-align: left;
	line-height: 40px;
	text-indent: 1em;
	font-size: 20px;
}
.src-credit-a {
	width: 1000px;
	height: 30px;
	color: #ffffff;
	list-style-type: circle;
	text-align: left;
	line-height: 40px;
	text-indent: 1em;
	font-size: 20px;
}

/* src-box */
#src-box {
	width: 1000px;
	float: left;
}
#src-box-1 {
	width: 1000px;
	color: #ffffff;
	font-size: 20px;
}
#src-box-1-en {
	width: 1000px;
	color: #ffffff;
	font-size: 20px;
}
#src-box a:link, #src-box a:visited {
	color: #00aaff;
	text-decoration: none;
}
#src-box a:hover {
	text-decoration: #00aaff 3px underline;
}
#src-box-left {
	width: 500px;
	float: left;
}
#src-box-right {
	width: 500px;
	float: left;
}
.src-box {
	width: 1000px;
	height: 40px;
	color: #00aaff;
	list-style-type: square;
	text-align: left;
	line-height: 40px;
	font-size: 35px;
}
.src-box-info {
	width: 1000px;
	height: 30px;
	color: #ffffff;
	list-style-type: circle;
	text-align: left;
	line-height: 40px;
	text-indent: 1em;
	font-size: 20px;
}
.src-box-en {
	width: 1000px;
	height: 30px;
	color: #ffffff;
	list-style-type: circle;
	text-align: left;
	line-height: 40px;
	text-indent: 1em;
	font-size: 20px;
}
.src-box-a {
	width: 1000px;
	height: 30px;
	color: #ffffff;
	list-style-type: circle;
	text-align: left;
	line-height: 40px;
	text-indent: 1em;
	font-size: 20px;
}